@page "/products"




@inject ProductService ProductService
@inject AppDbContext Db
<h3>Product List</h3>

@if (products == null)
{
	<p>No Product Found</p>
}
else
{
	<ul>
		@foreach (var p in products)
		{
			<li>@p.Name - @p.Price.ToString("c")</li>
		}

	</ul>
}

@code {
	private List<Product>? products;
	protected override async Task OnInitializedAsync()
	{
		products = await ProductService.GetProductsAsync();
	}

}
